 body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #444;
}


header,
main,
footer,
h2,
.goals{
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.links
{
    margin-top: 10px;
}


.Name, .email{
    margin: 0;
    font-weight: 50;
    font-size: 11px;
}

h4{
    margin: 5px 0;
}


.bio-info{
    margin-bottom: 20px;
}

header:hover,
main:hover,
footer:hover,
h2:hover,
.goals:hover {
    transform: scale(1.02);
}


header,
h2{
    text-align: center;
    background-color: #009688;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

section a{
    display: flex;
    flex-direction: column;
    color: rgb(50, 43, 43);
}

main {
    line-height: 1.6;
    background-color: #fff;
    border-radius: 10px;
}

h3 {
    margin-top: 0;
    color: #009688;
}



footer {
    text-align: center;
    background-color: #009688;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {

    .container{
        overflow: hidden;
    }

    main, h2, .goals, header, footer{
        margin: 10px;
    }

    header h1 {
        font-size: 2em;
    }
}